<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
<div class="nav">
  <a class="link" routerLink="/form" routerLinkActive='active'>Search GitHub Account</a>
  <a class="link" routerLink="/display" routerLinkActive='active'>Repository details</a>
</div>
<div class="container">
  <div>
  <h1>Retrieve user and repository details from GitHub.</h1><hr>
  </div>
  <router-outlet></router-outlet>
</div>