.card {
    background-color: rgb(209, 233, 255);
    padding: 25px;
    margin-top: 3%;
}

.project{
    float: right;
}

p{
    font-size: 20px;
    font-family: serif;
    line-height: 30px;font-weight: 400;
}