<!-- <ng-progress></ng-progress> -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div *ngFor='let respositoryDetail of respositoryDetails'>
            <div class="col-md-12">
                <div class="card-group">
                    <div class="card">
                        <h5 appColor class="card-title">{{respositoryDetail.name}}</h5>
                        <p class="card-text">{{respositoryDetail.description}}</p>
                        <p class="card-text">Language used is {{respositoryDetail.language}}</p>
                        <p class="card-text"><a href="{{respositoryDetail.html_url}}">Visit</a> the project
                            repository
                        </p>
                        <p class="card-text"><small class="text-muted">Created on
                                {{respositoryDetail.created_at|date}}</small>
                        </p>
                        <p class="card-text"><small class="text-muted">Updated on
                                {{respositoryDetail.updated_at|date}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>